{% extends 'search/base.html' %}
{% load crispy_forms_tags %}
<!-- {% block menu_item_get_started %} active {% endblock %} -->
{% block title %} eowef - contact {% endblock %}

{% block body %} 
    <!-- sidebar end -->
    <!-- main conatiner  start -->

    <!-- main conatiner  end -->
        <div class="card1">
        
            <h1>Contact Us</h1>
            <hr>
            {% if name %}
            <center>
                <h2>Thanks {{ name }}</h2>
                <p>We have received your email and will respond shortly.</p>
            </center>
            <br><br>

            {% else %}

            <div class='container h-100'>
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6">
                        <div class="border p-3 shadow">
                            <form method='post'>
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="form-actions">
                                        <button type='submit' class='btn btn-success'>Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        {% endblock %}