{% extends 'search/base.html' %}
{% load static %}
<!-- {% block menu_item_get_started %} active {% endblock %} -->
{% block title %} eowef - Get-started {% endblock %}


{% block body %} 

<div class='card1'>
    <h1> How to use the EO-WEF ? </h1>
    <hr>

    <p> The EO-WEF app is subdivided into 2 parts: the <a href="{% url 'search' %}">search </a> and <a href="http://13.58.46.211/apps/earth-engine/">map </a> sections.</p>
    
   <p > In the <a href="{% url 'search' %}">search </a> section, the following steps can be used: <br></p> 
  
<ol id='list'>
    <li class="list">Use the search bar to look up in the EO-WEF database the variable of interest and its sector, satellite (or model)
        and product and the availability dates of its data. </li>
    <li class="list">Click the product link(s) to learn about the data associated to the selected variable.</li>
    <li class="list">Record the information related to the variable. This will help to visualize its data and time series on the map area.</li>

<img class="center" src="{% static '/images/table_1.png' %}"/>

<p> The <a href="http://13.58.46.211/apps/earth-engine/">map </a> section of the application consists of visualizing the data of
    the selected variable and retrieving the time series. The steps are as follows:</p>

<li class="list">From the side panel of the map, enter the information that was captured in step 3,
     choose the reducer method (e.g. median) to display the image collection for a date range, which should be within the availability dates of the variable data, and click the load button to display the reduced image. A legend of your data should displayed. </li>
 
<li class="list"> To customize the visualization of images to a specific area, use the “set boundary” button to upload your own shapefile or enter your location in the location search bar.</li>

<img class="center" src="{% static '/images/map_1.png' %}"/>

<li class="list"> 
    To plot the time series of a variable data for a selected date range at a specific location, use the draw tool menu, which is located on the upper-left side of the map view area, to drop
     a point or draw a polygon and click the “Plot Iime Series” button.

     <img class="center" src="{% static '/images/map_2R.png' %}"/>
</li>


    </ol>    
  
    </div>
   


</div>




{% endblock %}  