{% extends 'search/base.html' %}
{% load static %}
<!-- {% block menu_item_get_started %} active {% endblock %} -->
{% block title %} eowef - Home {% endblock %}


{% block body %} 

<div class='card1'>
    <h1> What is EO-WEF ? </h1>
    <hr>

    <p> The EO-WEF (Earth Observations for water, energy, food nexus) app is a multisectoral information system that generates data in a time series format for different
        components of a generic nexus system using earth observations and other data sources (e.g.climate, population, etc.). The app is powered by <a href="https://earthengine.google.com/" target="_blank">Google Earth Engine </a> and <a href="http://www.tethysplatform.org/" target="_blank">Tethys platform </a>  </p>

   <p> The tool is designed to help people who do not have prior knowledge on remote sensing and programming to create customizable
        data that are the result of on-demand processing from Google Earth Engine.
        Unlike similar web applications that have been developed over the last decade, 
       the EO-WEF app is mobile responsive and is developed with the wef nexus approach in mind. </p>

    <div>
    <h6> <b>Motivation</b> </h6>
    </div>


    <p> Earth observations have the potential to provide datasets for the different components of 
    a generic nexus system. Although many tools exist that generate earth observation datasets, 
    most of them are generally limited to specific components of a generic nexus system. 
    To the best of our knowledge, there is none that structures them into a
        queryable table for the entire nexus and allow their visualization and the 
        extraction of their timeseries. </p>

    <div>
    <h6> <b> Further development</b> </h6>
    </div>


    <ul>
        <li>
            Adding more datasets from the Google Earth Engine data catalogue.
        </li>
        <li>
        Allow users to download displayed images and data drawn on timeseries graphs in a csv format.
        </li>
        <li>
        Enable comparison of variables.
        </li>

    </ul>


</div>




{% endblock %}  