{% extends 'search/home.html' %}
{% block menu_item_index %} active {% endblock %}
{% block title %} eowef - home {% endblock %}

{% block body %} 


<h5 class='big-title'> What is EO-WEF ?</h5>
<hr>

    <p> The <b class = 'sub-title'>EO-WEF</b>  (Earth Observations for water, energy, food nexus) app is a data system that generates datasets in a time series format for different
         components of a nexus system using earth observations and other data sources (e.g.climate, population, etc.).  </p>

    <p> The tool is designed to help people who do not have prior knowledge on remote sensing and programing to still use customizable
         datasets that are the result of on-demand processing from Google earth engine.
         Unlike similar web applications that have been developed over the last decade, 
        the <b class = 'sub-title'>EO-WEF</b> app is mobile responsive and is developed with the wef nexus approach in mind. </p>

<div>
    <h6> <b>Motivation</b> </h6>
</div>


<p> Earth observations have the potential to provide datasets for the different components of 
    a generic nexus system. Although many tools exist that generate earth observation datasets, 
    most of them are generally limited to specific components of a generic nexus system. 
    To the best of our knowledge, there is none that structures them into a
     queryable table for the entire nexus and allow their visualization and the 
     extraction of their timeseries. </p>

<div>
    <h6> <b> Further development</b> </h6>
</div>


<ul>
        <li>
            Adding the legend to displayed maps
        </li>
      <li>
        Allow users to download data in timeseries graphs in a csv format
      </li>
      <li>
        Add a geolocation button to allow users to set the map view to current location
      </li>

</ul>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}