{% extends 'search/home.html' %}
{% block menu_item_search_data %} active {% endblock %}
{% block title %} eowef - data {% endblock %}
{% block body %} 

    <h5 class='big-title'> Use the search bar to select the sector, the variable, the satellite or model, the product of your interest </h5>
    <hr>
  

<div class='row'>
<div class ='col-md-12 col-sm-6' style="overflow: auto">
    <table id = "table" class = "table table-striped stripe cell-border nowrap compact" style="width: 100%">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Variable</th>
                <th>Unit</th>
                <th>Satellite or Model</th>
                <th>Sensor</th>
                <th>Product</th>
                <th>Start Date</th>
                <th>End Date </th>
            </tr>
    
        </thead>
        <tbody> 
            {% for satmodel in all_satmodel %}
            <tr>

            <td> {{ satmodel.sector|truncatechars:15 }} </td>
            <td data-toggle="tooltip" title="{{ satmodel.variable }}"> {{ satmodel.variable|truncatechars:42 }} </td>
            <td> {{ satmodel.unit }} </td>
            <td data-toggle="tooltip" title="{{ satmodel.longname }}"> {{ satmodel.shortname }}</td>   
            <td data-toggle="tooltip" title="{{ satmodel.sensor }}"> {{ satmodel.sensor|truncatechars:25 }} </td>
            <td > <a href='{{ satmodel.reference }}' data-toggle="tooltip" data-placement="left" title="{{ satmodel.product }}" target="_blank">{{ satmodel.product|truncatechars:42 }} </a>  </td>   
            <td> {{ satmodel.start_date|date:"SHORT_DATE_FORMAT"  }} </td>
            <td> {{ satmodel.end_date|date:"SHORT_DATE_FORMAT" }} </td>
        
          </tr>
            {% endfor %}
    
        </tbody>
    
    </table>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}