{% extends 'search/base.html' %}
{% load static %}
<!-- {% block menu_item_get_started %} active {% endblock %} -->
{% block title %} eowef - search {% endblock %}

{% block body %} 


<div class='card1'>
    <h1> Available datasets </h1>
    <hr>


<div class='row'>
    <div class ='col-md-12' style="overflow: auto">

        <table id = "table" class = "table table-striped stripe cell-border nowrap compact" style="width: 100%">
            <thead>
                <tr>
                    <th>Sector</th>
                    <th>Variable</th>
                    <th>Unit</th>
                    <th>Satellite or Model</th>
                    <th>Sensor</th>
                    <th>Product</th>
                    <th>Start Date</th>
                    <th>End Date </th>
                </tr>
        
            </thead>
            <tbody> 
                {% for satmodel in all_satmodel %}
                <tr>
    
                <td> {{ satmodel.variable.sector|truncatechars:15 }} </td>
                <td data-toggle="tooltip" title="{{ satmodel.variable }}"> {{ satmodel.variable|truncatechars:42 }} </td>
                <td> {{ satmodel.variable.unit }} </td>


                <td data-toggle="tooltip" title="{{ satmodel.satellite_or_model_long }}"> {{ satmodel.satellite_or_model_short }}</td> 
                {% if satmodel.sensor == '' %}
                <td> ... </td>

                {% else %}

                <td data-toggle="tooltip" title="{{ satmodel.sensor }}"> {{ satmodel.sensor|truncatechars:15 }} </td>

                {% endif %}
               
                

                <td > <a href='{{ satmodel.reference }}' data-toggle="tooltip" data-placement="left" title="{{ satmodel.product }}" target="_blank">{{ satmodel.product|truncatechars:42 }} </a>  </td>   
                
                <td> {{ satmodel.start_date|date:"SHORT_DATE_FORMAT"  }} </td>

                {% if satmodel.satellite_or_model_short in 'WAPOR, OpenLandMap' %}
                <td> On going... </td>

                {% else %}

                <td> {{ satmodel.end_date|date:"SHORT_DATE_FORMAT" }} </td>

                {% endif %}

                
            
              </tr>
                {% endfor %}
        
            </tbody>
        
        </table>

    </div>
    </div>

</div>


{% endblock %}  